[submodule "packages/bcr-phylo-benchmark"]
	path = packages/bcr-phylo-benchmark
	url = https://github.com/psathyrella/bcr-phylo-benchmark
[submodule "packages/bpp-newlik/bpp-core"]
	path = packages/bpp-newlik/bpp-core
	url = https://github.com/psathyrella/bpp-core
[submodule "packages/bpp-newlik/bpp-phyl"]
	path = packages/bpp-newlik/bpp-phyl
	url = https://github.com/psathyrella/bpp-phyl
[submodule "packages/bpp-newlik/bpp-popgen"]
	path = packages/bpp-newlik/bpp-popgen
	url = https://github.com/psathyrella/bpp-popgen
[submodule "packages/bpp-newlik/bpp-seq"]
	path = packages/bpp-newlik/bpp-seq
	url = https://github.com/psathyrella/bpp-seq
[submodule "packages/bpp-newlik/bppsuite"]
	path = packages/bpp-newlik/bppsuite
	url = https://github.com/psathyrella/bppsuite
[submodule "packages/bpp-newlik/eigen3"]
	path = packages/bpp-newlik/eigen3
	url = https://github.com/psathyrella/eigen-git-mirror
[submodule "packages/ham"]
	path = packages/ham
	url = https://github.com/psathyrella/ham
[submodule "packages/ig-sw"]
	path = packages/ig-sw
	url = https://github.com/matsengrp/ig-sw.git
