*.pyc
*.png
*.svg
*_cc.d
*_cc.so
*.n[his][rndiq]
/.Rhistory
/.sconsign.dblite
/packages/ham/bcrham
/packages/ham/hample
/packages/ham/bench
bunnyhutch_id_rsa
/test/_new-results/
/_compare/
/_bin/
/data/performance/igblast/
/data/performance/ihhhmmm/
/data/performance/imgt/
/data/performance/simu.fa
/_output/
/tmp/
/_logs/
/_tmp/
/data/imgt-half/
/data/imgt-old-version/
/cdr3-indels-partitions-new.csv
/v-indels-partitions-new.csv
