/data/msa/*.hmm
*.pyc
/test.png
/test.r
/.Rhistory
/data/human-beings
/Rplots.pdf
/faithful.dat
/faithful.py
/foo.png
/newone
/simulated-seqs.csv
/test.tre
/tmp.tre
/recombinator/output/A/M/simu.csv
/recombinator/opener.pyc
/recombinator/output/B/M/simu.csv
/recombinator/output/C/M/simu.csv
/recombinator/data/human-beings/
/recombinator/data/msa/
/output/test.txt
/plotting/MitStyleRemix_cc.d
/plotting/MitStyleRemix_cc.so
/plotting/plots_cc.d
/plotting/plots_cc.so
/tmp.tsv
